body{
margin:0;
background:black;
color:white;
font-family:Arial;
overflow:hidden;
}

#game{
position:absolute;
width:100vw;
height:100vh;
}

#ui{
position:absolute;
top:0;
left:0;
pointer-events:none;
}

#sanity,#battery{
background:rgba(0,0,0,.6);
padding:6px;
margin:4px;
}

#emfCanvas{
position:absolute;
bottom:20px;
right:20px;
border:2px solid #333;
}

#thermoCanvas{
position:absolute;
bottom:160px;
right:20px;
border:2px solid #333;
}
